KERNEL=="sd*[0-9]", ACTION=="add", RUN+="/usr/local/bin/auto-mount.sh /dev/%k add"
KERNEL=="sd*[0-9]", ACTION=="remove", RUN+="/usr/local/bin/auto-mount.sh /dev/%k remove"
